@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header,
footer {
  background-color: #BF0000;
  color: #fff;
  padding: 16px 0;
}
.wrapper,
.header-inner {
  width: 90%;
  margin: 36px auto;
}
.footer-inner {
  width: 90%;
  margin: 0 auto;
}
h1 {
  margin-bottom: 8px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.product-detail {
  margin: 24px 0;
  position: relative;
}
.product-detail:not(:last-child) {
  border-bottom: 1px solid #666;
  padding-bottom: 24px;
}
table {
  border-collapse: collapse;
  border:1px solid #666;
  table-layout: fixed;
  text-align: center;
  margin: 16px auto;
  width: 100%;
}
th, td {
  border:1px solid #666;
}
th {
  background-color: #999;
  padding: 8px;
}
@media screen and (max-width: 428px) {
  .thumb {
    width: 100%;
  }
}
.big-emphasis {
  color: #BF0000;
  font-weight: bold;
}
.big-emphasis {
  font-size: 24px;
}
.lowest-mark-wrap {
  position: absolute;
  left: -24px;
  top: 60px;
}
.lowest-mark-inner, .lowest-mark-inner::before, .lowest-mark-inner::after,
.lowest-mark, .lowest-mark::before {
  position: absolute;
  background-color: #ffff00;
  width: 60px;
  height: 60px;
}
.lowest-mark p {
  font-size: 16px;
  color: #BF0000;
  font-weight: bold;
}
.lowest-mark-inner::before {
  transform: rotate(22deg);
  content: '';
}
.lowest-mark-inner::after {
  transform: rotate(-22deg);
  content: '';
}
.lowest-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.lowest-mark::before {
  transform: rotate(45deg);
  content: '';
  z-index: -1;
}
